/************** Barra de navegacion **************/
#navegador{
    background-color: #218380;
    color:  #FFBC42;
    padding-top: 0.025%;
    padding-bottom: 0.025%;
}
nav{
    max-width: 85%/*1100px*/;
    margin: auto;
}
.enviar-derecha{
    margin-left: 25%;
    padding-right: 10px;
}
.acomodar-derecha{
    margin-left: auto;
    padding-right: 10px;
}
#tamIcon {
    width: 100px;
    height: 70px;
    margin-left: 5%;
}
#tamNom {
    width: 400px;
    margin-left: 1%;
}
.enMarg{
    font-size: 25px;
    color:  #FFBC42;
    margin-left: 30px;
    text-align: center;
}


/************** Contenedor **************/
#contenedor{
    background: #f4f4f4;
    max-width: 85%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    height: 100%;
}
#contenedorInterno{
    /* border: solid #08182b 2px; */
    width: 72%;
    flex-grow: 1px;
    padding: 10px;
}
#contenedor aside{
    width: 28%;
    background: #ee2560;
    padding: 10px;
}
.categoria{
    display: flex;
    font-weight: 700;
    background: #08182b;
    color: #f4f4f4;
    padding: 10px;
    border-bottom: solid 1.5 #45d9fd;
}
#tamLet{
    font-size: 20px;
    margin-bottom: 0px;
}
#TSlide{
    height: 600px;
}
/******************** footer ********************/
#piePagina{
    background-color: #FFBC42;
    color:  #D81159;
}
#divFooter{
    /* border: solid #D81159 2px; */
    padding: 10px;
    text-align: left;
    color:  #D81159;
}
#icono{
    text-align: right;
}